<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'landing-page' %}">TempConnect Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'market-place' %}">Market Place</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Browse Opportunities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inbox' %}">inbox</a>
        </li>

        {% comment %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new-inbox' %}">new inbox</a>
        </li>
        {% endcomment %}
      </ul>
    </div>
  </div>
</nav>
